<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/standard">
<head>
    <title>Logout Successfull</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" th:remove="all"/>
    <link rel="stylesheet" type="text/css" href="../../../../target/classes/static/stylesheets/main.css"
          th:href="@{/stylesheets/main.css}" th:remove="all"/>
</head>
<body>
<div id="content" layout:fragment="body">


    <div>
        <h1>Logout</h1>

        <p>You have successfully logged out.</p>
    </div>

</div>
</body>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</html>
